.contact-info {
    float: left;
    width: 28%;
    margin-right: 1%;
    margin-top: 10px;
}

.contact-form-container {
    float: left;
    width: 70%;
    margin-left: 1%;
}

.contact-form-container input[type='text'], .contact-form-container textarea {
    width: 100% !important;
}

.contact-form input.form-submit {
    font-weight: normal !important;
}

.contact-form textarea {
    height: 180px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}